
//COLORI PRINCIPALI
$primaryColor-1: #8e210b;
$primaryColor-2: #ffffff;

//COLORI SECONDARI
$secondaryColor-1: #3c0f06;
$secondaryColor-2: #db3312;
$secondaryColor-3: #868686;

//PULSANTI
$btn-primary1: #db3312;

