
.bg-red{
  background-color: #8e210b !important;
}
header{
  padding: 1rem;
}
.icona-cibando{
  width: 2rem;
  margin-right: 10px;
}

.autenticato{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-left: .5rem;
}
