<header class="bg-red">
  <nav class="navbar bg-red navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
    <img src="../../../../assets/images/icona-cibando.png" class="icona-cibando" alt="iconacibando" routerLink="home">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Cibando</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home <i class="pi pi-home" style="font-size: 1rem"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ricette">Ricette <i class="pi pi-book" style="font-size: 1rem"> </i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contatti">Contatti <i class="pi pi-envelope" style="font-size: 1rem"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registrazione">Registrati <i class="pi pi-user" style="font-size: 1rem"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
