<app-carousel></app-carousel>

<div class="container-title">
  <h1 [ngClass]=" evidenziato ? 'testo-evidenziato' : ''" (click)="onEvidenziazione()" style="cursor: pointer;">Benvenuti in Cibando</h1>
  <p [ngStyle]="{'Background-color' : evidenziato ? 'yellow' : '' }">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Consequatur fuga culpa dicta illum ipsam consequuntur eaque iusto quis! Eaque ipsum reprehenderit doloribus.
     Doloremque facilis incidunt quam in consectetur distinctio ut.
    </p>
</div>

<h2>Ultime ricette</h2>
<app-recipe-card [recipes]="ricette"></app-recipe-card>
<button (click)="openModal(modaleUno, '54', 'Mario', 'Rossi')">
  Elimina Prodotto
</button>
<button (click)="openModal(modaleRegistrazione, '54', 'Mario', 'Rossi')">
  Modale Registrazione
</button>

<!-- MODALE UNO -->
<ng-template #modaleUno let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Elimina prodotto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Sei sicuro di voler eliminare il prodotto {{nomeModale}}?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.dismiss()">ANNULLA</button>
		<button type="button" class="btn btn-secondary" (click)="modal.close()">CONFERMA</button>
	</div>
</ng-template>

<!-- MODALE DUE -->
<ng-template #modaleRegistrazione let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Grazie per esserti registrato</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h3>Ecco i tuoi dati:</h3>
    <ul>
      <li>Nome: {{datiRegistrazione['nome']}}</li>
      <li>Email: {{datiRegistrazione['email']}}</li>
    </ul>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">CHIUDI</button>
	</div>
</ng-template>
