
  <div  class="card">
    <div class="card" style="width: 18rem;">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + recipe.image + ')'}" (click)="inviaTitolo(recipe.title)"></div>
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">{{recipe.description | slice: 0:250}}...</p>
        <a *ngIf="page !== 'home'"routerLink="dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Visualizza</a>
        <a *ngIf="page === 'home'" routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Visualizza</a>
      </div>
    </div>
  </div>


<!-- <img src="..." class="card-img-top" alt="..."> -->
