/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./app/styles/colours.scss";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-primary {
  background-color: $primaryColor-1;
  border-color: $primaryColor-1 ;
}
.btn-primary:hover {
  background-color: $secondaryColor-2;
  border-color: $secondaryColor-2 ;
}

.is-danger{
  color: rgb(146, 32, 32);
  font-size: small;
  position: relative;
  top: -10px;
}
.red-color{
  color: $primaryColor-1;
}
